doctype html	
html

	head
		
		link(href='https://fonts.googleapis.com/css?family=Lora|PT+Sans' rel='stylesheet')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', type='text/css', href='/css/reset.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js')
		link(href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet')
		script(type='text/javascript' src='/js/script.js')


	//- body
	body(bgcolor='#f5eee1')

		.logo
			img

		.topnav
			#myTopnav
			a(href='#home') Home
			a(href='#news') News
			a(href='#contact') Contact
			a(href='#register') Register
			a(href='javascript:void(0);' style='font-size:15px;' class='icon' onclick='myFunction()') &#9776;


		//- search bar in map  
		#searchbar
			form.search(method='post' action='/findrestaurants')
				input.searchTerm(id = 'searchrestaurants' name='searchrestaurants' placeholder='Enter your search term...')
				button.searchButton(type='submit')

		#container3
			script.
				$(document).ready(function(){
					$("#searchrestaurants").keyup(function(){

						var searchrestaurants = {searchrestaurants: $("#searchrestaurants").val()};

						console.log (searchrestaurants)
						
				

						$.get("/getrestaurants", searchrestaurants, function(response){
							var match = response.matchingRestaurants;
							
							$("#container3").html("<ul/>");
								for(var i=0; i<match.length; i++) {
									$("ul").append(
									"<li><form method =\"POST\" action = '/restaurantViaLink' id = 'restaurantLink'><input type=\"hidden\" name=\"restaurantLink\" value=`${match[i].trcid}`><a href=`/restaurant/${match[i].trcid}` onclick=\"document.getElementById('restaurantLink').submit()\">"+ match[i].title + ": " + match[i].details.en.shortdescription + "<img src=\"" + match[i].media[0].url + "\"/></li><br>")
								}
						});
					
		//- <form method ="POST" action = '/restaurantViaLink' id = 'restaurantLink'>
  //-           <input type="hidden" name="postLink" value=`${match[i].trcid}`>
  //-           <a href=`/restaurant/${match[i].trcid}` onclick="document.getElementById('postLink').submit()"> #{post.subject}
						
							//- setTimeout(ajaxCall, 300)
					});
				});


		
