doctype html	
html

	head
		
		link(href='https://fonts.googleapis.com/css?family=Lora|PT+Sans' rel='stylesheet')
		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
		link(rel='stylesheet', type='text/css', href='/css/reset.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		script(src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js')
		link(href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet')
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(type='text/javascript' src='/js/script.js')


	//- body
	body(bgcolor='#f5eee1')
		//- navigation
		#nav
			if user
				#myTopnav(class='topnav')
					a(href='javascript:void(0);' style='font-size:15px;' class='icon' onclick='myFunction()') &#9776 
					a(href='logout') Logout
					a(href='#') Profile
					a(href='feed') Search Restaurant
					a(href='logo' style='float: left', margin-left='300px') ø
					
			else
				#myTopnav(class='topnav')
					a(href='javascript:void(0);' style='font-size:15px;' class='icon' onclick='myFunction()') &#9776 
					a(href='/') Login
					a(href='logo' style='float: left', margin-left='300px') ø
		
		//- restaurant map		
		#container1
			#map(data-long=`${restaurant.location.longitude}` data-lat=`${restaurant.location.latitude}`)

		//- restaurant title
		#container2
			h2 #{restaurant.title}

		#container3
			//- comment form
			form(name='reviews', action='/writeReview', method='POST')
				textarea(type='text', name='review', placeholder='Write a review...')
				input(type='hidden', name='restaurantId', value=`${restaurant.tcrId}`)
				input(type='hidden', name='restaurantName', value=`${restaurant.title}`)
				input(type='submit')

			h2 All Reviews
				each review in reviews
					p= review.body

		script.
			console.log(long);
			console.log(long);
			var long = $('#map').data("long")
			var lat = $('#map').data("lat")

			var long_ = long.replace(/,/g, '.')
			var lat_ = lat.replace(/,/g, '.')
			
	
			mapboxgl.accessToken = 'pk.eyJ1IjoiZmN3YnIiLCJhIjoienNUYVlNZyJ9.983XCange6sobeBpnPO4Wg';
			var map = new mapboxgl.Map({
				container: 'map', // container id
				style: 'mapbox://styles/mapbox/streets-v9', // stylesheet location
				center: [long_,lat_], // starting position [lng, lat]
				zoom: 18 // starting zoom
			});



		//- footer
